node_modules/
apps/*/node_modules/
apps/server/public/chats/
apps/server/public/characters/
apps/server/public/User Avatars/
apps/server/public/backgrounds/
apps/server/public/groups/
apps/server/public/group chats/
apps/server/public/worlds/
apps/server/public/user/
apps/server/public/css/bg_load.css
apps/server/public/themes/
apps/server/public/OpenAI Settings/
apps/server/public/KoboldAI Settings/
apps/server/public/NovelAI Settings/
apps/server/public/TextGen Settings/
apps/server/public/instruct/
apps/server/public/context/
apps/server/public/scripts/extensions/third-party/
apps/server/public/stats.json
apps/server/uploads/
*.jsonl
apps/server/config.conf
apps/server/config.yaml
apps/server/config.conf.bak
docker/config
docker/user
docker/extensions
docker/data
.DS_Store
apps/server/public/settings.json
apps/server/thumbnails
apps/server/whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
apps/server/secrets.json
apps/server/dist
apps/server/backups/
apps/server/public/movingUI/
apps/server/public/QuickReplies/
apps/server/content.log
cloudflared.exe
apps/server/public/assets/
apps/server/access.log
apps/server/vectors/
apps/server/cache/
apps/server/public/css/user.css
apps/server/public/error/
apps/server/plugins/
apps/server/data
apps/server/default/scaffold
apps/server/public/scripts/extensions/third-party
apps/server/certs
.aider*
.env
StartDev.bat
yarn.lock
*.code-workspace
test-results/
